
{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block page_title %}
Add Staff
{% endblock page_title %}
{% block main_content %}
    
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Staff</h3>
                    </div>
                    {% url 'add_staff_save' as action_path %}
                    {% include 'hod_template/form_template.html' with message=message form=form action_path=action_path button_text='Add Staff' %}
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
    <!-- /.content -->
{% endblock main_content %}