
{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block page_title %}
Manage Courses
{% endblock page_title %}
{% block main_content %}
    
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Courses Details</h3>
    
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <div class="form-group">
                            {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger" style="margin-top:10px;" >{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success" style="margin-top:10px;" >{{ message }}</div>
                                {% endif %}
                                {% endfor %} 
                            {% endif %}
                        </div>
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Course Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                                <tr>
                                
                                    <td>{{ course.id }}</td>
                                    <td>{{ course.course }}</td>
                                    <td>
                                        <a href="{% url 'edit_course' course_id=course.id %}" class="btn btn-success">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
    <!-- /.content -->
{% endblock main_content %}